@import '~node_modules/modern-normalize/modern-normalize.css';

body {
    display: flex;
    flex-direction: column;
align-items: center;
    margin: auto;
    padding: 15px;
}

.breed-select {
    width: 400px;
}

.loader {
    position: fixed;
    left: 50%;
    top: 150px;

    transform: translateX(-50%);

    width: 78px;
    height: 78px;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
  }
  
  @keyframes animloader {
    0% {
      box-shadow: -72px 0 #464646 inset;
    }
    100% {
      box-shadow: 48px 0 #464646 inset;
    }
  }

.is-hidden {
    opacity: 0;
}

.cat-info {
    width: 400px;
}